* {
    font-family: 'Signika';
    /*font-size: 22px;*/
}

#del-button {
    background-image: url("delete.png");
    display: block;
    /*local file source*/
}



.input-row {
    padding: 5px;
}

.customer {
    padding-bottom: 10px;
    font-weight: bold;
}

form {
    text-align: center;
}

#product-dropdown {
    display: block;
}

.output-entry-box {
    height: 200px;
    text-align: center;
    padding-top: 30px;
    border-radius: 25px;
    border: 4px solid #a1a1a1;
    padding: 10px;
    margin: 25px;
}

#outer-text-box {
    text-align: center;
}

#mainSubmitBtn{
    /*text-align: center;*/
}

#app-header {
    text-align: center;
    font-size: 42px;
}

main {
    padding-top: 100px;
}

main.row {
    margin-bottom: 20px;
}

.bigcol {
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 80%;
}
.box-sm {
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    background-color: #CAEBF2;
    margin: 0 auto;
}

body {
    background-color: #EDEDED;
}

.carbon {
    background-color: #A9A9A9;
}

.black {
    background-color: black;
    color: white;
}

.neutral {
    background-color: #EDEDED;
}

.watermelon {
    background-color: #FF3B3F;
}

.white {
    background-color: #fff;
}