* {
    font-family: 'Signika';
    /*font-size: 22px;*/
}
textarea {
    background-color: yellow;
}

#formError div{
    border: 2px solid #DC143C;
    background-color: lightpink;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding: 5px 10px;
    font-size: 10px;
}

.delBtn {
    border: none;
    background-color: #fff;
    float: right;
}

h3, h4 {
    padding: 0;
    margin: 0 0 10px 0;
    width: 100%;
}

h4 {
    display: inline-block;
}

.input-row {
    padding: 5px;
}

.customer {
    padding-bottom: 10px;
    font-weight: bold;
}

form {
    text-align: center;
}

.output-entry-box {
    text-align: center;
    border-radius: 25px;
    border: 4px solid #a1a1a1;
    padding: 10px;
}

#outer-text-box {
    text-align: center;
}

#app-header {
    text-align: center;
    font-size: 42px;
}

main {
    padding-top: 100px;
}

main.row {
    margin-bottom: 20px;
}

.box-sm {
    text-align: center;
    /*padding: 25px;*/
    border-radius: 25px;
    background-color: #EDEDED;
    border: 2px solid #a1a1a1;
}

body {
    background-color: #fff;
}

.carbon {
    background-color: #A9A9A9;
}

.black {
    background-color: #000;
    color: #fff;
}

.neutral {
    background-color: #EDEDED;
}

.watermelon {
    background-color: #FF3B3F;
}

.white {
    background-color: #fff;
}